<form>
  <div class="form-group">
    <label for="author">Author</label>
    {{input class="form-control" value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    {{input class="form-control" value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="content">Make your post</label>
    {{textarea rows="20" cols="100" class="form-control" value=content id="content"}}
  </div>
  <div class="form-group">
    <label for="tags">Make your post</label>
    {{input class="form-control" value=tags id="tags"}}
  </div>
</form>
